@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --roxo: #9500eb;
    --azul-degrade: linear-gradient(97.54deg, #240052 35.49%, #327c89 165.37%);
    --fonte-principal: "Poppins";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
}
