  .carrossel__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
  }
 
.swiper-slide img{
  width: 100%;
}

.swiper-buttom-prev,
.swiper-buttom-next{
  display: none;
}